<div class="row">
    <div class="col-md-12">
        <div class="widget animated fadeIn">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6">
                        FILTER:
                        <select ng-change="init()" ng-model="selectedFilter" class="form-control" ng-options="filter as filter.name for filter in filters">>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control">
                            <option selected="selected" value="V"> Vacation </option>
                            <option value="P"> Public Holiday </option>
                            <option value="T"> T-something </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-hide="!selectedUser">
            <div class="widget  animated fadeIn">
                <div class="widget-body scroll-large calendar">
                    <table class="table unselectable">
                        <thead>
                            <th>
                                <p class="text-center">Date</p>
                            </th>
                            <th class="text-center">
                                <p class="text-center"> Your bookings </p>
                            </th>
                            <th ng-repeat="user in users">
                                <p tooltip="{{user.name}}" class="text-center">{{user.initials}}</p>
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="date in demo_dates" ng-class="{endofweek: isMonday(date)}">
                                <td class="date-of-booking text-center">{{date}}</td>
                                <td class="date-cell date-user">
                                    <span ng-repeat="unit in ['AM', 'PM']" ng-mouseOver="addBooking(  selectedUser.name, date, unit, this, $event )" ng-mousedown="addBooking(  selectedUser.name, date, unit, this, $event )" ng-class="{ {{unit}}: getCellUser(selectedUser.name, bookings_by_date[date], unit)}" />
                                </td>
                                <td class="date-cell" ng-repeat="blah in users">
                                    <span ng-class="{AM: getCellUser(users[$index].name, bookings_by_date[date], 'AM')}" />
                                    <span ng-class="{PM: getCellUser(users[$index].name, bookings_by_date[date], 'PM')}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-hide="selectedUser">
            <div class="widget animated fadeIn">
                <div class="widget-body">
                    <h3 class="text-center"> Please login to begin </h3>
                    <div class="alert alert-info" role="alert">
                        <h4>Adding</h4>
                        <ol>
                            <li>Choose unit and value</li>
                            <li>Click calendar cell </li>
                            <li>Confirm</li>
                        </ol>
                        <h4>Deleting</h4>
                        <p> Click dates in the calendar to remove bookings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>