<div class="row">
    <div class="col-md-12">
        <div class="widget animated fadeIn">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-2">
                        <label> Start &amp; End </label>
                        <select ng-model="date_ranges.start" class="form-control">
                            <option value="01/2015">January 2015</option>
                            <option value="02/2015">February 2015</option>
                            <option value="03/2015">March 2015</option>
                        </select>
                        <select ng-model="date_ranges.end" class="form-control">
                            <option value="04/2015">April 2015</option>
                            <option value="05/2015">May 2015</option>
                            <option value="06/2015">June 2015</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label> Filter </label>
                        <select ng-change="init()" ng-model="selectedFilter" class="form-control" ng-options="filter as filter.name for filter in filters">
                            <option style="display:none" value="">Select a filter</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label>Unit</label>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="value-V">
                                    <!-- ng-class="{'radio-selected': selected_unit === 'V'}"> -->
                                    <input type="radio" ng-model="selected_unit" value="V"> Vacation </input>
                                </p>

                            </div>
                            <div class="col-md-4">
                                <p class="value-P">
                                    <input type="radio" ng-model="selected_unit" value="P"> Public Holiday </input>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p class="value-T">
                                    <input type="radio" ng-model="selected_unit" value="T"> Training </input>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ng-hide="!selected_user">
            <div class="widget  animated fadeIn">
                <div class="widget-body scroll-large calendar">
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <table class="table unselectable">
                                <thead>
                                    <th class="text-center">
                                        <p class="text-center"> Date </p>
                                    </th>
                                    <th class="text-center">
                                        <p class="text-center"> Your bookings </p>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="date in demo_dates" ng-class="{endofweek: isMonday(date)}">
                                        <td class="date-of-booking text-center">{{date}}</td>
                                        <td class="date-cell date-user" ng-class="
                                        {
                                            'would-cause-clash': wouldCauseClash(date)
                                        }">
                                            <span ng-repeat="unit in ['AM', 'PM']" ng-mouseOver="addBooking(  selected_user.name, date, unit, this, $event )" ng-mousedown="addBooking(  selected_user.name, date, unit, this, $event )" ng-class="
                                            {
                                            'value-V': cellHasBooking(selected_user.name, bookings_by_date_current_user[date], unit, true) === 'V',
                                            'value-T': cellHasBooking(selected_user.name, bookings_by_date_current_user[date], unit, true) === 'T',
                                            'value-P': cellHasBooking(selected_user.name, bookings_by_date_current_user[date], unit, true) === 'P',
                                            'clashed': cellHasClash(selected_user.name, bookings_by_date_current_user[date], unit)
                                            
                                            }" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-9">
                            <table class="table unselectable">
                                <thead>
                                    <th>
                                        <p class="text-center">Total</p>
                                    </th>
                                    <th ng-repeat="user in users">
                                        <p tooltip="{{user.name}}" class="text-center">{{user.initials}}</p>
                                    </th>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="date in demo_dates" ng-class="{endofweek: isMonday(date)}">
                                        <td class="date-of-booking text-center">{{bookings_by_date[date].length / 2 || 0 }}</td>
                                        <td class="date-cell" ng-repeat="blah in users">
                                            <span ng-class="
                                            {
                                            'value-V': cellHasBooking(users[$index].name, bookings_by_date[date], 'AM', true) === 'V',
                                            'value-T': cellHasBooking(users[$index].name, bookings_by_date[date], 'AM', true) === 'T',
                                            'value-P': cellHasBooking(users[$index].name, bookings_by_date[date], 'AM', true) === 'P',
                                            'clashed': cellHasClash(users[$index].name, bookings_by_date[date], 'AM')
                                            }
                                            " />
                                            <span ng-class="
                                            {
                                            'value-V': cellHasBooking(users[$index].name, bookings_by_date[date], 'PM', true) === 'V',
                                            'value-T': cellHasBooking(users[$index].name, bookings_by_date[date], 'PM', true) === 'T',
                                            'value-P': cellHasBooking(users[$index].name, bookings_by_date[date], 'PM', true) === 'P',
                                            'clashed': cellHasClash(users[$index].name, bookings_by_date[date], 'PM')
                                            }
                                            " />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>