<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <tabset>
                <tab heading="Daily bookings">
                    <br>
                    <div class="widget-body">
                        <form>
                            <label>Number of bookings on day for clash</label>
                            <input required ng-model="filter.number_of_days" class="form-control" type="number"> </input>
                        </form>
                    </div>
                </tab>
                <tab heading="Proximity">
                    <br>
                    <div class="widget-body">
                        <form>
                            <label>Proximity to other days to cause clash</label>
                            <input ng-change="filterUpdated.proximity_of_day()" ng-model="filter.proximity_of_day" class="form-control" type="number"> </input>
                        </form>
                    </div>
                </tab>
            </tabset>
        </div>

    </div>
</div>

<div class="row" ng-show="results.total > 0">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body full-height">
                <div ng-show="results.type === 'number_of_days'">
                    <table class="table">
                        <thead>
                            <th>Date</th>
                            <th>
                                details
                            </th>
                        </thead>
                        <tbody class="scroll-large">
                            <tr ng-repeat="(key, bookings_by_date) in results.data">
                                <td>{{key}} </td>
                                <td>
                                    <accordion>
                                        <accordion-group heading="See results">
                                            <table class="table">
                                                <thead>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Value</th>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="record in bookings_by_date">
                                                        <td class="col-md-1">
                                                            {{record.userid}}
                                                        </td>
                                                        <td class="col-md-3">
                                                            {{record.name}}
                                                        </td>

                                                        <td class="col-md-3">
                                                            {{record.value}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </accordion-group>
                                    </accordion>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div ng-show="results.type === 'proximity_of_day'">
                    <p> Number of clashes: {{results.total}}</p>
                </div>
            </div>
        </div>
    </div>
</div>