<div class="row">
    <div class="col-md-12">
        <div class="widget animated fadeIn">
            <div class="widget-header">
                <p> Create filters </p>
            </div>
            <div class="widget-body">
                <br>
                <form ng-submit="saveFilter()">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Filter name</label>
                            <input required class="form-control" ng-model="expression.name"></input>
                        </div>
                        <div class="col-md-2">
                            <label></label>
                            <a ng-click="submitFilter()" class="btn btn-block btn-primary ">Test
                            </a>
                        </div>
                        <div class="col-md-2">
                            <label></label>
                            <button type="submit" class="btn btn-block btn-success "><i class="fa fa-save"></i>&nbsp;Save</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Field</label>
                            <select required ng-model="expression.field" class="form-control">
                                <option value="name">name</option>
                                <option value="userid">userid</option>
                                <option value="date">date</option>
                                <option value="value">value</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Operator</label>
                            <select required ng-model="expression.operator" class="form-control" ng-options="operator as operator for operator in operators">
                                <option value="<=">&lt;=</option>
                                <option value=">=">&gt;=</option>
                                <option value="contains">contains</option>
                                <option value="===">=</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Value (comma-sep)</label>
                            <input required ng-model="expression.value" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="widget" ng-show="results.data">
            <div class="widget-body">
                <div class="row">
                    Results ({{results.total}})
                    <table class="table">
                        <thead>
                            <th>userid</th>
                            <th>date</th>
                            <th>name</th>
                            <th>value</th>
                            <th>unit</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in results.data">
                                <td>{{record.userid}}</td>
                                <td>{{record.date}}</td>
                                <td>{{record.name}}</td>
                                <td>{{record.value}}</td>
                                <td>{{record.unit}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>