<div class="row">
    <div class="col-md-4">
        <div class="widget animated fadeIn">
            <div class="widget-header">
                <p> Manage filters </p>
            </div>
            <div class="widget-body">
                <table class="table">
                    <thead>
                        <th ng-repeat="test in ['Name', 'Actions' ]">
                            {{test}}
                        </th>
                    </thead>
                    <tr ng-repeat="filter in filters.get()">
                        <td>{{filter.name}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="filters.delete($index)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="widget animated fadeIn">
            <div class="widget-header">
                <p> Create filters </p>
            </div>
            <div class="widget-body">
                <form ng-submit="testFilter()">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Filter name</label>
                            <input required class="form-control" ng-model="expression.name"></input>
                        </div>

                        <div class="col-md-2">
                            <label></label>
                            <button type="submit" class="btn btn-block btn-success ">Test</button>
                        </div>
                        <div class="col-md-2">
                            <label></label>
                            <a ng-click="filters.save()" class="btn btn-block btn-primary ">
                                <i class="fa fa-save"></i>&nbsp;Save
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Field</label>
                            <select required ng-model="expression.field" class="form-control">
                                <option value="name">name</option>
                                <option value="userid">userid</option>
                                <option value="date">date</option>
                                <option value="value">value</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Operator</label>
                            <select required ng-model="expression.operator" class="form-control" ng-options="operator as operator for operator in setup.operators">
                                <option value="<=">&lt;=</option>
                                <option value=">=">&gt;=</option>
                                <option value="contains">contains</option>
                                <option value="===">=</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Value (comma-sep)</label>
                            <input required ng-model="expression.value" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="widget" ng-show="results.data">
            <div class="widget-body scroll-large">
                <div class="row">
                    <p class="text-center"> Results ({{results.total}}) </p>
                    <table class="table">
                        <thead>
                            <th>userid</th>
                            <th>date</th>
                            <th>name</th>
                            <th>value</th>
                            <th>unit</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in results.data">
                                <td>{{record.userid}}</td>
                                <td>{{record.date}}</td>
                                <td>{{record.name}}</td>
                                <td>{{record.value}}</td>
                                <td>{{record.unit}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>