// STYLE GUIDE:
$color-primary-dark: #B428FF;
$color-accent: #FFCA28;
$color-unit-V: red;
$color-unit-P: blue;
$color-unit-T: green;
body {
    background-color: #f3f3f3;
    font-family: 'Roboto', serif;
    font-weight: 300;
}
// FULL CALENDAR
// HIDE THE MONTH TABS ON THE LEFT
.fc-content > .fc-time {
    display: none;
}
//
.color-value-V {
    color: red;
}
.color-value-P {
    color: blue;
}
.color-value-T {
    color: green;
}
.calendar-unit-AM {
    background-color: lightskyblue;
}
.calendar-unit-PM {
    background-color: lightpink;
}
// CALENDAR
.calendar-cell {
    padding: 5px;
}
.fc-toolbar .fc-left {
    display: none;
}
.fc-view-container {
    .fc-event {
        border-width: 0px;
    }
}
// WIDGET COMPONENTS
.widget {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    margin-bottom: 15px;
    .widget-header {
        padding: 1px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        color: #FFF;
        background-color: $color-primary-dark;
    }
    .widget-body {
        padding: 20px;
    }
    .widget-body.no-padding {
        padding: 0px;
    }
}
.widget.nav-selected {
    border-bottom-color: $color-accent;
    border-bottom-width: 2px;
}
.text-primary {
    color: $color-primary-dark;
}
.panel-group {
    .panel-default {
        .panel-heading {
            background-color: $color-primary-dark;
            .panel-title {
                color: white;
            }
        }
    }
}
.scroll-small {
    overflow-y: auto;
    height: 400px;
}
.scroll-large {
    overflow-y: auto;
    height: 800px;
}
// CLASHES 
a.fc-day-grid-event.fc-event.fc-start.fc-end.calendar-cell.event-clash.fc-draggable {
    border-color: red;
    border-right-width: 20px;
}
td.fc-widget-content {
    cursor: pointer;
}
.fc-toolbar {
    .fc-button.fc-state-default {
        border-radius: 0px;
    }
}
.navigation {
    .nav-link {
        margin: 31px;
    }
    .login {
        margin: 24px;
    }
}
p.value-T {
    color: $color-unit-T;
}
p.value-V {
    color: $color-unit-V;
}
p.value-P {
    color: $color-unit-P;
}
.calendar {
    .table>thead:first-child>tr:first-child>th {
        border-top: 1px solid #ddd;
    }
    th, td {
        border: 1px solid #ddd;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 0px;
        border-right: 1px solid #ddd;
    }
    td.date-of-booking {
        width: 15%;
    }
    td.date-cell.date-user {
        width: 20%;
    }
    td.date-cell {
        width: 35px;
        border: 1px solid #ddd;
    }
    td > span {
        display: block;
        height: 15px;
    }
    td > span.value-V {
        background-color: $color-unit-V;
    }
    td > span.value-T {
        background-color: $color-unit-T;
    }
    td > span.value-P {
        background-color: $color-unit-P;
    }
    td.date-user > span:hover {
        background-color: $color-accent;
        opacity: 0.5;
    }
    td.date-user > span:active {
        cursor: pointer;
    }
    tr.ng-scope.endofweek {
        border-top-width: 3px;
        border-top-style: solid;
    }
}
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    
    -ms-user-select: none;
    user-select: none;
}